

.int{
    width: 500px;
    height:500px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.a{
    height: 150px;
    background: silver;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.int1{
    height: 350px;
    background:white ;
    display: flex;
}
.b{
    width:350px;
    background: silver;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.c{
    width:150px;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

 @media screen and (max-width: 350px) {
    .int{
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        width:30vh;


    }
     .a{
         width:30vh;
         height: 100px;
         border-radius: 10px;
         margin-bottom: 20px;
     }
     .int1 {
         height: 400px;
         flex-direction: column;
         width:30vh;
     }
     .b{
         height:300px;
         width:30vh;
         margin-bottom: 20px;
         border-radius: 10px;
     }
     .c{
         height: 100px;
         width:30vh;
         border-radius: 10px;
     }

}