.absolute1{

    height: 300px;
    width: 650px;
    display: flex;
    padding: 20px;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
}
.info{

    height: 200px;
    width: 200px;
    margin: 15px;
    border: 1px solid black;
    position: relative;
    align-items: center;
    text-align: center;
    padding: 5px;



}
.bot{
    border:1px solid red;
    width: 100px;
    height: 20px;

}
.round{
    border:1px solid black ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position:absolute;
    top: -25px;
    right: 60px;
    justify-content: center;
    align-items: center;
    background:white;

}
