.test{
    background: cornflowerblue;
    width:auto;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    padding: 30px;
    margin: 10px;
    border: 1px solid black;

}

.test1{
    background: darkolivegreen;
    height: 200px;
    width: 300px;

}