.absolute1{

    height: 400px;
    width: 800px;
    padding: 20px;
    display: flex;
    row-gap: 5px;
    box-sizing: border-box;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
}
.info{

    height: 250px;
    width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-right:1px solid black;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;





}
.bot{
    border:1px solid red;
    width: 120px;
    height: 30px;
    background: darkolivegreen;

}
.col{
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;

}