.absolute{

    height: 800px;
    width: 500px;
    display:flex;
    box-sizing: border-box;
    flex-direction:column;
    border: 1px solid red;
    padding: 20px;

}

.one{
    background: cornflowerblue;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;





}
.two{

    display: flex;
    justify-content:space-between;
    height: 200px;



}
.three{
     background: cornflowerblue;
     height: 550px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;


 }

.second1{
    box-sizing: border-box;
     height:160px;
     width: 200px;
     background:cornflowerblue;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.second2{
    box-sizing: border-box;
    height:160px;
    width: 200px;
    margin-left: 20px;
    background:cornflowerblue;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.second3{
    box-sizing: border-box;
    height:160px;
    width: 200px;
    margin-left: 20px;
    background:cornflowerblue;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}